 body{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        .background{
            width: 100%;
            height: 2000px;
            /* background-image: ;
            background-repeat: ;
            background-size: ; */
            background: url('../DAY1/image/virat.jfif') no-repeat center/cover;
            position: relative;
            top: 0;
            left: 0;
        }
        .navbar{
            background-color: yellow;
            color: black;
            position: fixed;
            padding: 15px;
            top: 0%;
            width: 100%;
            height: 50px;
            z-index: 2;
        }
        .model{
            width: 250px;
            height: 250px;
            background-color: brown;
            position: absolute;
            top: 40%;
            left: 40%;
            padding: 20px;
            z-index: 1;
        }
        .content{
            height: 1000px;
            top: 100%;
            position: relative;
            font-size: 40px;
        }
