*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#body{
    position: relative;
}

#div1{
    height: 200px;
    width: 200px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 1;
}
#div2{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top: 150px;
    left: 200px;
}
#div3{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 2;
}
#div4{
    height: 200px;
    width: 200px;
    background-color: violet;
    position: absolute;
    top: 250px;
    left: 300px;
}
