*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    /* width: 800px; */
    border: 2px solid;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */


    /* flex flow is a combination of flex-direction and flex-wrap */

    /* flex-flow: row wrap; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;

    


}

.box{
    height: 30px;
    width: 80px;
    border: 2px solid;
}

#box1{
    order: 1;
}

#box2{
    flex-grow: 2;
}

#box3{
    flex-shrink: 3;
}